Binaries
Build
Debug
DerivedDataCache
Intermediate
Saved
Plugins/Carla/Binaries
Plugins/Carla/Build
Plugins/Carla/CarlaServer
Plugins/Carla/CarlaDependencies
Plugins/Carla/Debug
Plugins/Carla/DerivedDataCache
Plugins/Carla/Intermediate
Plugins/Carla/Saved

# Ignore everything in Content
/Content/**

# Unignore parent folders
!/Content/Carla/
!/Content/Carla/Blueprints/
!/Content/Carla/Blueprints/Props/
!/Content/Carla/Blueprints/Props/**

# Optional: ignore everything else in Blueprints
/Content/Carla/Blueprints/*

# Make sure Props is still included
!/Content/Carla/Blueprints/Props/**

Config/CarlaSettings.ini
Config/DefaultEditor.ini
Config/CarSimConfig.ini

*.code-workspace
.idea
.vscode
.ignore

*.sln
CMakeLists.txt
Makefile


